<h1> <%= @recipe.name %> </h1>
<h2> Includes: <%= @recipe.ingredients %>
<p> Cooktime: <%= @recipe.cook_time %>
<form action="/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
